@import url("/assets/standardizer.css");



main section {
    background-color: var(--secundary_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section div h1,
main section div h2 {
    color: var(--main_color);
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

main section div div {
    margin-top: 50px;
    background-color: var(--white);
    width: 1000px;
    margin-bottom: 50px;
}

main section div div p {
    line-height: 2.5;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    color: var(--black);
}

main section div div ol,
main section div div ol h1 {
    color: var(--black);
    text-align: center;
    list-style-position: inside;
    line-height: 2.5;
}

main section div div ul,
main section div div ul h1 {
    color: var(--black);
    text-align: center;
    list-style-position: inside;
    line-height: 2.5;
}