main {
    height: 100%;
    padding-top: 100px;
}
main section {
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section div h1, h2 {
    color: #FF3C6A;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

main section div div {
    margin-top: 50px;
    background-color: #FF3C6A;
    width: 1000px;
    margin-bottom: 50px;
}
main section div div p {
    line-height: 2.5;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
}