
/*Modificando container que dispoe a respeito da Main do site*/
main {
    display: flex;
    height: 100%;
    background-color: #F4F4F5;
}

/*Modificando container que sera disponivel para a visualizacao dos filmes*/
.editableSpace {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: calc(100vw - 300px);
    margin-top: 100px;
    margin-left: 300px;
    text-align: left;
    align-items: center;
    justify-content: center;
}
/* Working at aside: */
aside {
    padding-top: 50px;
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
    width: 300px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

aside h1{
    font-size: 1.75rem;
    text-align: left;
    color: #FF3C6A;
}
aside p {
    text-align: left;
    background-color: #FF3C6A;
    color: #2E2E2E;
    margin: 5px;
    padding: 5px;
    line-height: 4;
}
aside table th {
    font-size: 1.375rem;
    color: #FF3C6A;
    padding-top: 20px;
    padding-bottom: 10px;
}
aside table td {
    font-size: 1rem;
    color: #F9A8D4;
    padding-bottom: 5px;
}

/*Defining propierties of h2 at editable space*/
.editableSpace h2 {
    align-content: center;
    text-align: center;
    width: 976px;
    height: 100px;
    background-color: #FF3C6A;
}
.editableSpace h2:nth-of-type(2) {
    margin-top: 10px;
}
/*Whole container of the movies:*/
.editableSpace section {
    width: 1220px;
    height: 188px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    overflow: scroll;
}
 
/*divisions of the movie container:*/
.editableSpace section div {
    min-width: 375px;
    min-height: 188px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FCDDD0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Working into the movies containers:*/
.editableSpace section div img {
    margin-left: 4px;
    width: auto;
    height: 160px;
    align-self: center;
    border: #FF3C6A 4px solid;
}

.editableSpace section div table th {
    text-align: center;
    border-bottom: #FF3C6A 4px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
}
.editableSpace section div table{
    text-align: center;
    height: 160px;
}

.editableSpace section div table tr:nth-child(4) td a{
    justify-self: center;
    color: #FF3C6A;
    background-color: #2E2E2E;
    text-decoration: none;
    padding: 10px;
}
.editableSpace section div table tr:nth-child(4) td a {
    margin-top: 5px;
    padding: 10px;
}

.editableSpace section div table tr:nth-child(3) td {
    vertical-align: text-top;
}
.editableSpace section div table tr:nth-child(3) td a {
    font-size: small;
    text-decoration: none;
    color: #121212;
    background-color: #F4F4F5;
    padding: 5px;
}