@import url("/assets/standardizer.css");

body {
    display: flex;
    flex-direction: column;
    min-height: 100vw;
}

main {
    height: calc(100vh - 100px);
    flex-direction: column;
    flex: 1;
}

main section {
    display: flex;
    flex-direction: row;
    height: 500px;
}

main section:nth-child(1) {
    background-color: var(--black);
    padding: 50px;
}

main section:nth-child(1) div:nth-child(1) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-child(1) div:nth-child(1) img {
    height: 400px;
    border: var(--main_color) 4px solid;
}

main section:nth-child(1) div:nth-child(2) {
    width: 50%;
}

main section:nth-child(1) div:nth-child(2) h1 {
    color: var(--main_color);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

main section:nth-child(1) div:nth-child(2) p {
    color: var(--black);
    background-color: var(--main_color);
    padding: 10px;
    line-height: 1.4;
}

main section:nth-child(1) div:nth-child(2) div {
    margin-top: 20px;
    background-color: var(--main_color);
}

main section:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--main_color);
    align-items: center;
}

main section:nth-child(2) h2 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    width: 300px;
}

main section:nth-child(2) iframe {
    margin-top: 40px;
    width: 1200px;
    height: 600px;
}

main section:nth-child(3) {
    background-color: var(--black);
}

main section:nth-child(3) table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: var(--main_color);
}

main section:nth-child(3) table th,
main section:nth-child(3) table td {
    border: 1px solid var(--main_color);
    padding: 12px;
    text-align: center;
}

main section:nth-child(3) table caption {
    font-size: 2rem;
    padding: 20px;
    margin-bottom: 20px;
}
