@import url("assets/style.css");


main {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(images/background_catalogo.jpg) center/cover no-repeat;
    overflow: hidden;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    z-index: 1;
}

main > * {
    position: relative;
    z-index: 2;
}

.editableSpace {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: calc(100vw - 300px);
    text-align: left;
    align-items: center;
    justify-content: center;
}

aside {
    padding-top: 50px;
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    width: 300px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

aside h1 {
    font-size: 1.75rem;
    text-align: left;
    color: var(--main_color);
}

aside p {
    text-align: left;
    background-color: var(--main_color);
    color: var(--black);
    margin: 5px;
    padding: 5px;
    line-height: 4;
}

aside table th {
    font-size: 1.375rem;
    color: var(--main_color);
    padding-top: 20px;
    padding-bottom: 10px;
}

aside table td {
    font-size: 1rem;
    color: var(--gray);
    padding-bottom: 5px;
}

.editableSpace h2 {
    align-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: var(--main_color);
}

.editableSpace h2:nth-of-type(2) {
    margin-top: 50px;
}

.editableSpace div {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}
 
.editableSpace div div {
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--white);
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.editableSpace div div img {
    width: 100px;
    height: 160px;
    object-fit: cover;
    border: var(--main_color) 4px solid;
    box-sizing: border-box;
    flex: 0 0 100px;
    margin-right: 12px;
}

.editableSpace div div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
    text-align: center;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    padding-right: 8px;
}

.editableSpace div div h3 {
    text-align: center;
    border-bottom: var(--main_color) 4px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
    max-height: calc(1.1em * 2);
    word-break: break-word;
}

.editableSpace div div p {
    margin: 5px 0;
    font-size: small;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editableSpace div div a[href*="imdb"] {
    font-size: small;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    padding: 5px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editableSpace div div a[href*="Saiba"],
.editableSpace div div a[href*="saiba"] {
    justify-self: center;
    color: var(--main_color);
    background-color: var(--black);
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
