:root {
    --main_color: #D62828;
    --secundary_color: #1D1D1D;
    --white: #F5F5F5;
    --gray: #8C8C8C;
    --black: #3A3A3A;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--main_color);
}


h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


header {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--main_color);
}


header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    font-size: 2rem;
}

header ul li a {
    background-color: var(--black);
    padding: 10px;
    text-decoration: none;
    color: var(--main_color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main_color);
}

footer p {
    text-align: center;
    padding: 20px;
}
