<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
    <header>
        <h1>LOREM IMPSUM</h1>
    </header>
        <section id="mainText">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolore harum veniam perspiciatis eius sapiente
            saepe vero voluptatum similique repellendus libero ea numquam maxime totam, fuga aliquam error ipsam quas.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error cum eum pariatur nam iure ab veritatis quidem
            porro optio nesciunt eaque eligendi, sit aperiam assumenda reiciendis? Maxime sapiente eligendi ea?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit voluptates quaerat iste ad, facere aspernatur
            cum placeat! Quaerat optio officiis dolorum a debitis reiciendis, maiores reprehenderit in obcaecati dignissimos
            quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nulla dicta possimus. Ad praesentium itaque
            exercitationem doloribus ipsa eum? Odit, harum cupiditate? Repellendus optio qui, laborum libero explicabo nisi
            earum.us ipsa eum? Odit, harum cupiditate? Repellendus optio qui, laborum libero explicabo nisi
            earum.us ipsa eum? Odit, harum cupiditate? Repellendus optio qui, laborum libero explicabo nisi
            earum.</p>
        </section>
        <section id="listSection">
            <ul>
                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut natus perspiciatis eveniet in mollitia?
                    Nihil culpa omnis ipsa placeat est voluptatem, earum vel commodi enim tempore veritatis harum? Voluptas,
                    iusto.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore nemo dicta eveniet sunt, veniam
                    deleniti voluptatum minus repellendus corporis expedita officiis illum quibusdam, saepe molestiae
                    aperiam laborum incidunt, quos obcaecati!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic facere saepe ratione! Repellat, quod, unde quo
                perspiciatis ipsa autem eos provident odio accusantium soluta nisi debitis quos pariatur eveniet. Explicabo?</li>
            </ul>
        </section>
    </main>
</body>
</html>