body{
    background-color: gray;
    display: flex;
    align-content: center;
    justify-content: center;

}
main{
    background-color: rgb(22, 5, 7);
    width: 98%;
    padding: 10px;
    height: 98%;
}
header{
    width: 30%;
    height: auto;
    background-color: gray;
    color: white;
    height: 80px;
    align-content: center;
    text-align: center;
    margin-bottom: 5px;
}

section {
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 1.3rem;
}
#mainText{
    width: 96%;
}

#listSection {
    width: 50%;
}